/* Default Body style */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
  font-weight: normal;
  font-style: normal;
}*/
html{
  width:100%;
  height: 100%;
  font-size: 16px;
  font-family: arial, Helvatica, sens-serif;
}
body{
  background: #ebebeb;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 100%;
}
/*-------------------------------
* Start Grid Style
* https://css-tricks.com/dont-overthink-it-grids/
-------------------------------*/
.grid{

}
.gird::after{
  content: "";
  display: table;
  clear:both;
}
[class*='col-']{
  float:left;
  padding-right: 0px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
.col-1-4{
  width: 25%;
}
/*-------------------------------
* End Grid Style
-------------------------------*/
.ns_body{
  width:100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.bg_img{
  background-image: url('img/background2.jpg');
  background-position: center;
  background-size: cover;
  width:100%;
  height: 100%;
   background-repeat: no-repeat;
   position: absolute;
   z-index: -2;
}
.bg_color{
  background: rgba(10,86,255,.47);
  position: absolute;
  width:100%;
  height: 100%;
  z-index: -1;
}
.ns_body:hover .bg_img{
  transition: transform 10s;
  transform: scale(1.2);
}
.ns_wraper{
  display: block;
  overflow: hidden;
  min-height: 500px;
  max-width: 500px;
  margin: auto;
  position: relative;
  top:50%;
  transform: translateY(-50%);
}
.ns_wraper_content{
 width: 100%;
 margin: 20px 0px;
 padding: 0px 0px;
}
.upper_content{
  text-align: center;
}
.ns_logo{
color:#fff;
border:5px solid #fff;
display: block;
border-radius: 50%;
height: 120px;
width: 120px;
margin: auto;
padding: 10px
}
.upper_content h1{
  color:#fff;
}
.upper_content p{
  color:#444;
  background: rgba(200,200,200,.82);
  padding: 20px;
}
.ns_timer{
  background: rgba(205,205,205,.25);
  overflow: hidden;
  color:#fff;
  text-indent: 1em;
  padding-bottom: .5em;
}
.ns_timer>div{
  padding: 10px 0px;
  text-align: center;
}
.ns_timer p{
  text-align: left;
}
.days, .hours, .minutes, .seconds{
font-size: 5em;
width: 100%;
}
.ns_timer span span{
  background: #444;
  box-shadow: 1px 1px 3px #000;
  margin: 0 1px 0 0;
}

.notification_email{
  text-align: center;
}
.notification_email form{
  margin: auto;
  display: inline-table;
}
.notification_email input{
  height: 2.5em;
  border: 0px solid #fff;
  width: 20em;
  padding: 10px;
  background-color:rgba(200,200,200,.82);
  color: #fff;
  margin: 0px;
  float: left;
  border-radius: 10px 0 0 10px;
}
.notification_email input:focus{
  outline: 0px;
}
.notification_email button{
  height: 2.5em;
  background: #444;
  color:#fff;
  border: 1px solid #444;
  margin: 0px;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 0px 1px #000;
  border-radius: 0 10px 10px 0;
}
.notification_email button:hover{
  cursor: pointer;
}
