.selection_wrap{
  position:relative;
}
.image_selector{
  position:absolute;
  height:30px;
  display:inline;
}
.image_selector:focus{
  border:2px solid green;
}
.image_selector:focus ~ .selectable_image {
}
.display_image{
  max-width: 150px;
  margin-top: 15px;
}
.selectable_image{
  position:absolute;
  display:block;
  top:30px;
  width: 90vw;
  max-width:500px;
  max-height: 400px;
  overflow-y: scroll;
  background: #fff;
}
.selectable_image img{
    border:3px solid transparent;
    max-width: calc(33.33% - 6px );
    box-sizing: border-box;
}
.selectable_image img:hover{
  border:3px solid #444;
  carsor:pointer
}
